<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" class="rel">
    <title>Better Servery</title>
    <link rel="icon" href="./assets/crab.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./assets/crab.ico" type="image/x-icon" />

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src = "./index.js" type="text/javascript" defer></script>
  

    <div id="serveryInfo">

        <div class="topBar">
            <div class="title">Owl Dining</div>
            
            <button v-on:click="currentDate">Now</button>
            <button v-on:click="function(){ serveryFilter = []; timeFilter='All'; daysFilter='All'}">All Days</button>
        
            <button class="about" onclick="location.href='./about/'">About</button>
            
        </div>

        <div class="sidebar" v-bind:class="{inActive : !sidebarActive}">
            <div class="sidebarButton" v-bind:class="{open : sidebarActive}" v-on:click="function(){sidebarActive = !sidebarActive; hidePopUp();}">
                <div class="sidebarButtonText" v-bind:class="{open : sidebarActive}"> > </div>
            </div>

        <div class="optionsFlex">
        <div>
        <div>Filter Servery</div>
        <div><input type="checkbox" id="baker-kitchen" value="baker-kitchen" v-model="serveryFilter">
        <label for="baker-kitchen">Baker</label></div>
        <div><input type="checkbox" id="north-servery" value="north-servery" v-model="serveryFilter">
        <label for="north-servery">North</label></div>
        <div><input type="checkbox" id="west-servery" value="west-servery" v-model="serveryFilter">
        <label for="west-servery">West</label></div>
        <div><input type="checkbox" id="siebel-servery" value="siebel-servery" v-model="serveryFilter">
        <label for="siebel-servery">Seibel</label></div>
        <div><input type="checkbox" id="south-servery" value="south-servery" v-model="serveryFilter">
        <label for="south-servery">South</label></div>
        </div>

        <div>
        <div>Filter Time</div>
        <select v-model="timeFilter">
            <option>All</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
        </div>
        <div>
        <div>Filter Days</div>
        <select v-model="daysFilter">
            <option>All</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <!--
        <button v-on:click="currentDate">Go to today</button>
        <button v-on:click="function(){ serveryFilter = []; timeFilter='All'; daysFilter='All'}">Clear Filters</button>
        -->
        </div>
        </div>

        <div class="popUp" ref="popUp">
        <span>Rate {{toRate}}</span>
        <span>
        <span id="stars">
            <input type="radio" id="one" value="1" v-model="rating">
            <label for="one" v-if="rating < 1">☆</label>
            <label for="one" v-if="rating >= 1">★</label>
            <input type="radio" id="two" value="2" v-model="rating">
            <label for="two" v-if="rating < 2">☆</label>
            <label for="two" v-if="rating >= 2">★</label>
            <input type="radio" id="three" value="3" v-model="rating">
            <label for="three" v-if="rating < 3">☆</label>
            <label for="three" v-if="rating >= 3">★</label>
            <input type="radio" id="four" value="4" v-model="rating">
            <label for="four" v-if="rating < 4">☆</label>
            <label for="four" v-if="rating >= 4">★</label>
        </span>
        <button v-on:click="sendRating">Rate</button>
        </span>
        </div>

        <div id="loading" v-if="loading"></div>
        <div class="mainBody" ref="mainBody" v-bind:class="{big : !sidebarActive}">
        
        <div v-bind:class="[(daysFilter == 'All') ? 'serveryFlex' : 'serveryFlexRow']">
        <!--<div class="servery" v-for="servery in text" v-if="(serveyFilter == JSON.parse(servery).Name || serveyFilter == 'All')">-->
        <div class="servery" v-for="servery in text" v-if="serveryFilter.includes(JSON.parse(servery).Name) || serveryFilter.length == 0">
            <span class="sticky">{{JSON.parse(servery).Name.replaceAll("-"," ")}}</span>
            <div class="timeFlex">
            <div class="time" v-for="time in JSON.parse(servery).MealTimeGroups" v-if="(timeFilter == time.Name || timeFilter == 'All')">
                
                <span class="stickyMargin" v-if="timeFilter == 'All'">{{time.Name}}</span>
                
                <div class="dayFlex">
                <div class="day" v-for="day in time.MealDayGroups" v-if="(daysFilter == day.Name || daysFilter == 'All')">
                    <span>{{JSON.parse(servery).Name.replaceAll("-"," ")}} {{day.Name}} {{time.Name}}</span>
                    <div class="closed" v-if="(day.Meals == null || day.Meals[0].Name == 'N/A')">
                        Servery Closed :(
                    </div>
                    <ul>
                    <li class = "food" v-for="food in day.Meals" v-bind:class="{selected :  food.Name == toRate}"
                                        v-on:click="function(e) {if(toRate == food.Name){toRate = ''; hidePopUp();}else{toRate = food.Name; movePopUp(e);}}">
                        <span v-if="food.Name != 'N/A'">{{food.Name}}</span>
                        <span class="starHolder"><span class="star" v-for="star in food.Rating">★</span></span>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        
    </div>
    </div>

</body>
</html>