<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" class="rel">
    <title>Better Servery</title>
</head>
<body>
    <div id="serveryInfo">
        <span>Filter Servery</span>
        <select v-model="serveyFilter">
            <option>All</option>
            <option>Baker-Kitchen</option>
            <option>North-Servery</option>
            <option>West-Servery</option>
            <option>Seibel-Servery</option>
            <option>South-Servery</option>
        </select>
        <span>Filter Time</span>
        <select v-model="timeFilter">
            <option>All</option>
            <option>lunch</option>
            <option>dinner</option>
        </select>
        <span>Filter Days</span>
        <select v-model="daysFilter">
            <option>All</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        <div v-bind:class="[(daysFilter == 'All') ? 'serveryFlex' : 'serveryFlexRow']">
        <div class="servery" v-for="servery in text" v-if="(serveyFilter == JSON.parse(servery).Name || serveyFilter == 'All')">
            {{JSON.parse(servery).Name.replaceAll("-"," ")}}
            <div class="timeFlex">
            <div class="time" v-for="time in JSON.parse(servery).MealTimeGroups" v-if="(timeFilter == time.Name || timeFilter == 'All')">
                {{time.Name.replaceAll("\"","")}}
                <div class="dayFlex">
                <div class="day" v-for="day in time.MealDayGroups" v-if="(daysFilter == day.Name || daysFilter == 'All')">
                    {{day.Name.replaceAll("\"","")}}
                    <div class="closed" v-if="day.Meals == null">
                        Servery Closed :(
                    </div>
                    <ul>
                    <li class = "food" v-for="food in day.Meals">
                        {{food.replaceAll("\"","")}}
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src = "./index.js" type="text/javascript"></script>
  
</body>
</html>