.servery {
    font-size: xx-large;
    font-weight: bolder;
}
.time {
    font-size: x-large;
    font-weight: normal;
}
.day {
    font-size: medium;
    font-weight: bold;
    border: black 1px solid;
    width: 37ch;
    height: 12em;
    border-collapse: collapse;

}
.food {
    font-size: medium;
    font-weight: normal;
}

ul {
    /*list-style: none;*/
    margin-left:2ch;
    padding-left:.5ch;
}

.serveryFlex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.serveryFlexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: center;
    justify-content: center;
}

.timeFlex {
    display: flex;
    flex-direction: column;
}

.dayFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5ch;
    align-items: center;
    justify-content: center;
}

.closed {
    height: 9em;
    line-height: 9em;
    color: red;
    text-align: center;
}